@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
    box-sizing: border-box; 
}

html {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: auto;
}

header {
    position: sticky;
    top:0;
    background: #F5F2EE;
}

.page {
    max-width: 80vw;
    margin: auto;
    margin-bottom: 8vh;
    margin-top: 8vh;
}

.headshot {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    max-width: 50%;
    object-fit: cover;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 100px;
    padding: 10px;
}

.grid-container-founders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 100px;
    padding: 10px;
}



.contactform {
    padding: 20px;
    position: inherit;
    border: 0; 
    width:100%; 
    height: 500px; 
    overflow: auto;
}