@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

*, *::before, *::after {
    box-sizing: border-box; 
}

html {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: auto;
}

h1 {
    font-size: 35px;
}

header {
    position: sticky;
    top:0;
    background: #F5F2EE;
    z-index: 3;
}

.page {
    max-width: 80vw;
    margin: 120px;
    margin-bottom: 8vh;
    margin-top: 8vh;
}

.headshot {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    max-width: 50%;
    object-fit: cover;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 100px;
    padding: 10px;
}

.grid-container-founders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 100px;
    padding: 10px;
}

.formpage {
    padding: 20px;
    position: inherit;
    border: 0; 
    width:100%; 
    height: 500px; 
    overflow: auto;
}

.groupphoto {
    max-width: 40%;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
    float: right;
    margin: 30px;
    border-radius: 30px;
}

.container {
    padding: 30px;
    width: 100%;
    height: 100%
}

.button1 {
    align-items: center;
    background-color:#c0cff8;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 30px;
    margin-bottom: 15px;
    display: inline-block;
}



.button {
  align-items: center;
  background-color: #dcceed;
  border: 2px solid #111;
  border-radius: 30px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 50%;
  padding: 0 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:after {
  background-color: #111;
  border-radius: 30px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button:hover:after {
  transform: translate(0, 0);
}

.button:active {
  background-color: #dcceed;
  outline: 0;
}

.button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 0 40px;
  }
}